* {
  font-family: Inter;
}

.parallax {
    height: 100vh;
    background-image: url("/solar/img/skyImage.jpg");
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.fw-300{
    font-weight: 300;
}

.fw-400{
    font-weight: 400;
}

.fw-500{
    font-weight: 500;
}

.fw-600{
    font-weight: 600;
}

.fw-700{
    font-weight: 700;
}

.fw-800{
    font-weight: 800;
}

.fs-10{
    font-size: 10px
}

.fs-12{
    font-size: 12px
}

.fs-13{
    font-size: 13px
}

.fs-14{
    font-size: 14px
}

.fs-16{
    font-size: 16px
}

.fs-18{
    font-size: 18px
}

.fs-20{
    font-size: 20px
}

.fs-22{
    font-size: 22px
}

.fs-24{
    font-size: 24px
}

.fs-26{
    font-size: 26px
}

.fs-28{
    font-size: 28px
}

.fs-30{
    font-size: 30px
}

.br-10{
    border-radius: 10px;
}

.text-lightblue{
    color: #003973 !important;
}

.text-grey{
    color: #5C6972 !important;
}

